*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playball';
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(199, 199, 199);
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 9%;
    background-color: white;
}

header h3{
    color: gray;
    font-size: 20px;
    font-weight: 200;
}

/* for the png shopping cart and menu png */
.png{
    width: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 50px;
}

#cart{
    margin-right: 20px;
    width: 20px;
}

#menu{
    margin-left: 5px;
    width: 20px;
}

.all-search{
    width: 100%;
    height: 100vh;
    background: url(./image/box-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.all-search h3{
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0,0,0,0.4)0%,
    rgba(0,0,0,0.4)25%, rgba(255,8,0,0.6)50%, rgba(0,23,149,0.6)75%, rgba(255,8,0,0.6) 188%);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 400% 400%; 
    transition: 2s;
}

.all-search:hover .search{
    background-position: 100% 100%;
}

/* The search all */
.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-form{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-form input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    /* color: #cac7ff; */
}

::placeholder{
    color: #cac7ff;
}

.search-form .search-btn .is{
    width: 25px;
    background: transparent;
}

.search-form .search-btn{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.search-btn:hover{
    background-color: darkorange;
}

/* search-notes */
.typing{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.boost{
    color: white;
    font-size: 40px;
}

.opp{
    color: yellow;
}

.beginning-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.get-started{
    width: 120px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 60px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.get-started:hover{
    background-color: darkorange;
    color: white;
}
/* black background for HOME */
.blackground{
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bless{
    margin-right: 60px;
}

.bless h4{
    font-family: 'playball', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-right: 300px;
    margin-bottom: 20px;
}

.application{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.navs{
    gap: 20px;
    margin-left: 20px;
}

.navs ul{
    list-style: none;
}

.nav, ul{
    gap: 20px;
    list-style: none;
}

.active, ul{
    gap: 20px;
    list-style: none;
}

ul li a{
    font-size: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    gap: 20px;
}

li a:hover{
    color: darkorange;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 9%;
}

.copyRight{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 10px;
}

.link{
    width: 25px;
}

/* mobile styling */
@media(max-width:650px){

    .search-form{
        width: 320px;
    }

    .search-form .search-btn{
        width: 60px;
        height: 40px;
    }

    .search-btn .is{
        width: 50px;
    }

    body{
        overflow-x: hidden;
    }

    .blackground{
        height: 25vh;
    }

    .bless{
        margin-left: 120px;
    }

    .navs, .nav, .active, ul li a{
        font-size: 10px;
        gap: 20px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    footer{
        height: 20px;
    }

    .copyRight{
        font-size: 8px;
        margin-right: 20px;
    }

    .div{
        margin-left: 30px;
    }

    .link{
        width: 10px;
    }
}